{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Gestion des articles</h1>
    <a href="{{ path('admin_create') }}">Ajoutez un  article</a>
    <table class="display table_admin">
        <thead>
            <tr>
                <th>id</th>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{% if article.category %}{{ article.category.name }}{% endif %}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('admin_edit',{id: article.id}) }}">Editer</a>
                    <a class="btn btn-danger" href="{{ path('admin_delete',{id: article.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}